<div class="container">
  <h1>Welcome to My Website!</h1>
  <div>
    <% if !current_user %>
    <h4>Login</h4>
    <form action="/login" method="post">
      <input type="username" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <div>
        <input type="submit" value="Login">
      </div>
    </form>
    <% end %>
  </div>
  <div>
    <% if current_user %>
    <form action="/logout" method="post">
      <input type="submit" value="Logout">
    </form>
    <% end %>
  </div>
  <div>
    <% if !current_user %>
      <a href="/users/new">Create Account</a>
    <% end %>
  </div>
  <div>
    <% if current_user %>
    <a href="/posts/new">Create Post</a>
    <% end %>
  </div>
</div>

<div class="post-container">
  <ul>
  <% @posts.each do |post| %>
    <li>
      <div class="post">
        <div class="post-header">
          <div class="points">
            <div>
              <form method="post" action="/posts/<%= post.id %>">
                <input type="hidden" name="_method" value="put">
                <button type="submit" name="upvote">upvote</button>
              </form>
            </div>
            <div>
              <span>Points:</span>
              <span><%= post.points %></span>
            </div>
          </div>
          <div class="title">
            <a href="/posts/<%= post.id %>"><%= post.title  %></a>
          </div>
        </div>
        <div class="user">
          <a href=""><%= post.user.username %></a>
        </div>
        <div class="created-at">
          <a href="/posts/<%= post.id %>"><%= post.formatted_duration %></a>
        </div>
      </div>
      <div>
        <a href="/posts/<%= post.id %>">comments</a>
      </div>
    </li>
  <% end %>
  </ul>
</div>
